@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=harmony:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=harmony:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "harmony";
  src: url("./fonts/HarmonyOS_Sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font: weight 400px;
  font-style: normal;
}

.harmony-thin {
  font-family: "harmony";
  font-weight: 100;
  font-style: normal;
}

.harmony-extralight {
  font-family: "harmony", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.harmony-light {
  font-family: "harmony", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.harmony-regular {
  font-family: "harmony", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.harmony-medium {
  font-family: "harmony", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.harmony-semibold {
  font-family: "harmony", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.harmony-bold {
  font-family: "harmony", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.harmony-extrabold {
  font-family: "harmony", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.harmony-black {
  font-family: "harmony", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.harmony-thin-italic {
  font-family: "harmony", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.harmony-extralight-italic {
  font-family: "harmony", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.harmony-light-italic {
  font-family: "harmony", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.harmony-regular-italic {
  font-family: "harmony", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.harmony-medium-italic {
  font-family: "harmony", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.harmony-semibold-italic {
  font-family: "harmony", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.harmony-bold-italic {
  font-family: "harmony", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.harmony-extrabold-italic {
  font-family: "harmony", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.harmony-black-italic {
  font-family: "harmony", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-light {
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
